h1 a, h2 a {
    color: #C25100;
    font-family: 'Lobster';
}


.page-header {
    background-color: #C25100;
    margin-top: 0px;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin-left: 50px;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu,  .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 13pt;
    margin-top: -10px;
}

.top-menu:hover{
    float: right;
    font-size: 13pt;
    color: rgb(43, 255, 1);
    margin-top: -10px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.sign-in a,  .sign-out .log-out {
    float: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top : -55px;
    margin-right: 20px;
    font-family: 'Lobster';
}

.sign-in a :visited, .sign-in  a:active, .sign-in a:hover  {
    float: right;
    text-decoration: none;
    color: rgb(43, 255, 1);
    margin-top : -55px;
    margin-right: 20px;
    font-family: 'Lobster';
}
.sign-out  .log-out:active, .sign-out .log-out:hover  {
    float: right;
    text-decoration: none;
    color: rgb(43, 255, 1);
    margin-top : -55px;
    margin-right: 20px;
    font-family: 'Lobster';
}

.id input {
    border-radius: 20px;
    margin-top: 0px;
    padding: 0px 10px;
    border: solid lightsalmon;
    outline: none;
    width: 30%;
    height: 40px;
    position: absolute;
    left: 60%;
    top: 200px;


}

.pw input{
    border-radius: 20px;
    margin-top: 0px;
    padding: 0px 10px;
    border: solid lightsalmon;
    outline: none;
    width: 30%;
    height: 40px;
    position: absolute;
    left: 60%;
    top: 300px;

}

.l-in h1{
    font-size: 30pt;
    position: absolute;
    left: 69%;
    top: 50px;
}

.id h4 {
    font-size: 24pt;
    position: absolute;
    left: 60%;
    top: 160px;

}

.pw h4 {
    font-size: 24pt;
    position: absolute;
    left: 60%;
    top: 260px;


}

.in button{
    position: absolute;
    left: 85%;
    top: 350px;
    border: 0px;
    background-color: #ffffff;

}

.up button{
    position: absolute;
    left: 58%;
    top: 350px;
    border: 0px;
    background-color: #ffffff;
}

.l-in h2 {
    font-size: 26pt;
    position: absolute;
    left: 65%;
    top: 200px;
}

.user-name {
    color: #ffffff;
    float: right;
    font-size: 13pt;
    font-family: 'Lobster';
    margin-right: 150px;
    margin-top: -60px;
}